ul {
	margin-bottom: 3vmin;
    margin-top: -2vmin;
}
li {
	margin-bottom: 0.6vw;
}
a {
	color: #D32821;
}
label {
	display: inline-block;
    width: 20vw;
}
.credits {
	height: 23vh;
	width: 100%;
	display: block;
	overflow-x: visible;
	overflow-y: scroll;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, rgba(255, 255, 255, 0.3));
}
.credits > ul {
	margin-top: 1em;
	margin-bottom: 1em;
}
.icon {
	margin-right: 0.5vw;
}
.logo {
	width: auto;
	height: 1em;
	margin-top: 1.5vmin;
	position: relative;
	top: 0.2em;
}