/* Fichiers CSS commun */
body {
	background-color: #242326;
	padding-left: 1vmin;
	padding-right: 1vmin;
}
h2 {
	color: white;
}
div {
	color: #D0D0D0;
	margin: 1vmin;
}
footer {
	position: absolute;
    bottom: 2vh;
    left: 0;
    right: 0;
    padding-left: 2vmin;
    padding-right: 2vmin;
}
.container {
}
.left {
	float: left;
	display: block;
	width: 65%;
}
.right {
	right: 0;
}


/* Sélecteur */
select {
	background-color: #F2F5F7;
}
.gras {
	font-weight: bold;
}