ul {
	list-style: none;
	padding: 0;
}
li {
	padding-left: 1.3em;
	margin: 1.3vmin;
}
li:before {
	content: "\f0a9"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	width: 1.3em; /* same as padding-left set on li */
}
label {
	display: inline-block;
    width: 31vw;	/* variable */
    margin: 0.4vw;
}
.currencies {
	height: 50vh;
    width: 100%;
    display: block;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: #373736;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 92%, rgba(255, 255, 255, 0.3));
}
.selected_currency {
	font-weight: bold;
	color: #C92F2F;
	padding-top: 1vh;
	padding-bottom: 1vh;
}
label[for="crypto_only"] {
	width: 15vw;
}
.hidden {
	display: none !important;
}
#update_date, #update_hour {
	font-weight: bold;
}

.left-stop {	/* Décale bien à gauche le bouton (car il n'y a plus le texte) */
	width: 77%;
}
.currency-icon {
	width: auto;
	height: 4vh;
}
.no-icon {
	margin-left: 4vh;
}

/* Spinner CSS */
#loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: spin 2s linear infinite;
  display: inline-block;
  top: 0.3em;	/* alignement vertical du spinner avec le texte */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}