.delete {
	padding-right: 1vmin;	/* Un peu de place après l'icone */
	cursor: pointer;
}
li {
	padding-bottom: 1.3vh;
}
li > span {
	padding-left: 1.5vmin
}
.currencies {
	height: 45vh;
    width: 100%;
    display: block;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: #373736;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 92%, rgba(255, 255, 255, 0.3));
}