/*Paramètres */
label {
	display: inline-block;
    width: 31vw;
    text-align: right;
    margin: 0.4vw;
}
hr {
	
}
label[for="current_start_currency"] {
	display: inline;
	margin-left: 7vh;
}
#current_start_currency {
	font-weight: bold;
}
#stop_update {
	display: inline-block;
}
#api_key {
	width: 107vh;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 93%, rgba(255, 255, 255, 1));
}
#refresh {
	width: 20vh;
}